/*
 font-family: "Rancho", cursive;
 font-family: "Mrs Saint Delafield", cursive;
 font-family: "Josefin Sans", sans-serif;
 font-family: "Faster One", system-ui;
 */

body{
    font-family: "Josefin Sans", sans-serif;
}